
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url("../src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../src/assets/fonts/Montserrat-Medium.ttf");
}

@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
}
